body {
    margin: 0px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

html {
    width: 100%;
}

div {
    height: 100%;
    width: 100%;
}